$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$tittle-font: "Merriweather", serif;
$poppins-font: "Poppins", sans-serif;

//Colors 
$bg-color: #2B2D38;
$grey: #ABABAB;
$pink: #DB2A6B;
$white: #FFFFFF;
